<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn28RlmE35MWYdvM9VFsf_9PaMW71DjP8</string>
	<key>GCM_SENDER_ID</key>
	<string>797403218050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asadrzv.ChatAIBot</string>
	<key>PROJECT_ID</key>
	<string>chat-ai-8ee09</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ai-8ee09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797403218050:ios:fd09eb3cc9c13189f2b49b</string>
</dict>
</plist>